* {
  margin: 0;
  padding: 0;
}

.Logo {
  width: 70px;
}

body {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#fdfdfd));
  background-image: linear-gradient(0deg, #000000 0%, #fdfdfd 100%);
  -webkit-animation: bg-pan-bottom 10s both;
          animation: bg-pan-bottom 10s both;
}

.encabezado {
  border-bottom: solid black;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
}

/* Pie de pagina */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid white;
}

.titulo-pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: small;
  padding: 1em;
}

.correo-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1em;
}

.icons {
  padding: 5px;
}

/* pagina inicio */
/*keyframes*/
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 25;
}

.titulo-soy {
  padding: 3%;
}

.menu {
  padding: 3%;
  margin-left: 2px;
}

.container-main {
  text-align: center;
}

.boton-ver {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton-ver a {
  text-decoration: none;
}

@media screen and (max-width: 858px) {
  .foto {
    width: 100%;
  }
}

.foto {
  border-radius: 3%;
  -webkit-animation: bounce-top 2s both;
          animation: bounce-top 2s both;
}

.foto:hover {
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10%;
}

.iconos img {
  padding: 1em;
  -webkit-animation: rotate-vert-center 1s cubic-bezier(0.23, 1, 0.32, 1) infinite both;
          animation: rotate-vert-center 1s cubic-bezier(0.23, 1, 0.32, 1) infinite both;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 25;
}

.titulo-exp {
  text-align: center;
  padding: 2em;
}

.logos-container {
  padding: 2rem;
}

.secc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 14.5rem;
}

.titulo-skills {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.container-skills {
  padding-bottom: 1em;
}

.contacto-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto-titulo h1 {
  padding: 2em;
}

.container-form {
  padding: 5rem;
}

.contacto-form {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 16px 0px;
  border: 0;
  background-color: #111;
  padding: 20px 40px;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ddd;
  -webkit-box-shadow: 0 0 10px 4px #1d1f20;
          box-shadow: 0 0 10px 4px #1d1f20;
}

.btn-enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */